[Unit]
Description=ABLS Agent SMS (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-sms --agent-tech-id=%i
DynamicUser=yes
SupplementaryGroups=abls
StateDirectory=abls-agent-sms/%i
WorkingDirectory=%S/abls-agent-sms/%i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
